
<div id="sign_up">
  <h2 class="title">Sign up</h2>
  
  <h2 class="caution"><span>Note:</span> Twitter's oAuth api does not provide your email, to continue registering you must provide it.</h2>
  
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <fieldset>
        

        <%= f.label :email %>
        <%= f.text_field :email %>

      <% if @user.password_required? %>
        <%= f.label :password %>
        <%= f.password_field :password %></p>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      <% end %>

      <%= f.submit "Sign up" %>
    </fieldset>
  <% end %>
  
  
</div>
