<div class="post">
  <div class="date">
    <span class="month"><%= post.created_at.strftime("%b") %></span>
    <span class="day"><%= post.created_at.strftime("%d") %></span>
  </div>
  <% if params[:action] == "index" %>
    <a href="<%= post_url(post) %>"><img class="post_image" src="<%= post.image.url(:medium) %>" alt="<%= post.title %>"/></a>
  <% else %>
    <img class="post_image" src="<%= post.image.url(:medium) %>" alt="<%= post.title %>" />
  <% end %>
  <div class="post_content">
    <h3><%= link_to post.title, post_url(post) %></h3>
    <%= post.body %>
    <div class="meta">
      <span class="author">Posted by <%= link_to post.user.name, user_path(post.user.username) %></a></span>
    </div>
  </div>
</div>
