<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>InspireMPLS</title>
    <meta name="Robots" content="index,all" />
    <meta name="Keywords" content="Inspire MPLS, inspire, minneapolis, minnesota, inspiration, graphic design, design, web design" />
    <meta name="Description" content="InspireMPLS :: The place to share inspiration with and meet other creatives." />
    
    <%= stylesheet_link_tag "style", 'facebox' %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js", "http://connect.facebook.net/en_US/all.js", 'facebox', 'application' %>
    <%= csrf_meta_tag %>
    
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1><a href="/">InspireMPLS</a></h1>
        <div id="search">
          <span><%if current_user %> Signed in as <%= link_to current_user.name, user_path(current_user.username) %><span id="logout">(not you? <a href="/auth/sign_out">sign out</a>)</span><% else %><a href="#login_btns" rel="facebox">Sign In</a> <% end %>| </span>
          
          <span id="login_btns" class="facebook">
            <%= link_to 'Sign in', "/auth/facebook", :class => "facebook_login_btn" %>
            <%= link_to 'Sign in', "/auth/twitter", :class => "twitter_login_btn" %>
          </span>
            
          <form action="?s=" method="get">
            <input name="s" type="text" value="search" />
            <input type="submit" value="GO" />
          </form>
        </div>
        <ul id="nav">
          <li><a  id="events" href="#">Events</a></li>
          <li><a id="about" href="/site/about">About</a></li>
          <li><a id="submit" href="/site/submit">Submit</a></li>
          <li><a id="connect" target="_blank" href="http://twitter.com/inspirempls">Connect</a></li>
        </ul>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <% if @tags %>
        <%= render :partial => "layouts/sidebar", :locals => { :posts => @tags } %>
      <% end %>
      <div id="footer">
        <p class="copy">&copy; Copyright 2010 &mdash; a <a href="#">MarkupIsArt</a> Project</p>
      </div>
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11907887-9']);
      _gaq.push(['_setDomainName', '.inspiremps.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>